@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) { 
  .highcharts-color-0 {
      fill: #0460ba;
      stroke: #0460ba;
  }
  .highcharts-color-1 {
      fill: #000000;
      stroke: #000000;
  }
}

.highcharts-input-group {
  display: none;
  visibility: hidden;
}

body {
  background-color: #1F2227;
}
.highcharts-background {
  fill: #1F2227;
}
.highcharts-container text {
  fill: #c0c0c0;
}
.highcharts-subtitle,
.highcharts-credits,
.highcharts-axis-title {
  fill-opacity: 0.7;
}
.highcharts-grid-line {
  stroke: #c0c0c0;
  stroke-opacity: 0.2;
}
.highcharts-tooltip-box {
  fill: #1F2227;
}
.highcharts-column-series rect.highcharts-point {
  stroke: #1F2227;
}

.highcharts-scrollbar {
  display: none;
  visibility: hidden;
}